@import "../../modules/variables.scss";
/* --- page-login --- */

.page-login {
  min-height: 100vh;
  background-image: url(assets/bg-page-login.png);
  position: relative;
  background-size: cover;
  .page-container {
    display: grid;
    grid-template-columns: 1fr $side-panel-width;
  }
}
