@function rem($size) {
  @return $size / $font-size * 1rem;
}

// typography
$font-size: 18px;
$font-size--sm: rem(14px);
$font-size--xsm: rem(12px);

$line-height: 1.2;

$font-family: 'Arial', sans-serif;

// colors
$col-blue: #00b3be;
$col-white: #fff;
$col-grey: #4a4a4a;
$col-green: #91d763;
$col-green: #91d763;

$col-primary: $col-blue;
$col-on-primary-bg: $col-white;
$col-text: $col-grey;
$col-selected: $col-green;

// spaces
$space-xsm: rem(10px);
$space-sm: rem(15px);
$space-md: rem(20px);
$space-lg: rem(25px);
$space-xlg: rem(50px);

// breakpoints
$small-up: 'min-width: 600px';
$medium-up: 'min-width: 1024px';
$large-up: 'min-width: 1440px';
$xlarge-up: 'min-width: 1920px';

// other
$side-panel-width: 380px;
