@import '../variables';
/* --- Header --- */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  display: grid;
  height: 57px;
  color: $col-primary;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 20% 1fr calc(25px + #{$space-sm} * 2);
}

.header__logo {
  padding: $space-xsm 5px;
  align-self: center;
}

.header__search {
  @extend .wrapper;
  padding-top: $space-xsm;
  padding-bottom: $space-xsm;
  align-self: center;
  &-form {
    position: relative;
  }
  &-btn {
    position: absolute;
    left: $space-xsm / 2;
    bottom: $space-xsm;
  }
  &-input {
    border-bottom: 2px solid $col-primary;
    width: 100%;
    max-width: 450px;
    padding-left: $space-lg;
    font-size: rem(14px);
  }
}



.header__account {
  padding-top: $space-xsm;
  padding-bottom: $space-xsm;
  background-color: $col-primary;
  color: $col-on-primary-bg;
  position: relative;
  display: grid;
  align-items: center;

  a {
    color: $col-on-primary-bg
  }
  a.header__account-link {
    color: $col-text;
  }
  &-wrapper {
    @extend .wrapper;
    display: grid;
    align-items: center;
    font-weight: bold;
  }
  &-avatar {
    border-radius: 100%;
    width: 40px;
    margin-right: $space-xsm;
    vertical-align: middle;
  }
  &-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    display: inline-block;
    vertical-align: text-top;
  }
  &:not(&--not-logged) {
    font-size: rem(16px);
  }
}

.header__account-submenu {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: normal;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  .btn{
    position: relative;
    &:hover:before {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
      background: $col-grey;
    }
  }
}

.header__account-profile {
  display: none;
}

@media all and ($medium-up){
  .header {
    grid-template-columns: 195px 1fr $side-panel-width;
  }
  .header__logo {
    padding: 0 $space-xlg;

  }
  .header__account {
    display: grid;
    &-wrapper {
      grid-template-columns: 1fr 25px;

    }
    &-profile {
      display: block;
    }
    &--not-logged {
      .header__account-icon {
        display: none;
      }
    }
    &:not(.header__account--not-logged):hover{
      & .header__account-submenu {
        display: grid;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 100%;
        left: 0;
        background: $col-grey;
      }
    }
  }

}
