@import '../variables';
/* --- Footer --- */

.footer {
  background-color: $col-primary;
  padding: $space-sm $space-lg;
  color: $col-on-primary-bg;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
}
